.page .imagem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page img{
    max-width: 600px;
    width: 100%;
}

.page .acesso{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}